<header class="fixed w-full top-0 bg-gray-800">

  <section class="flex items-center justify-between px-4 py-2 shadow-md rounded-b-2xl max-w-4xl mx-auto mt-2">

    <div class="text-xl font-bold text-cyan-50">📚 Biblioteca</div>
  
    <div class="flex gap-4 items-center">
      <!-- Usuario autenticado -->
      <ng-container *ngIf="user; else notLoggedIn">
        <span class="text-sm text-cyan-50">👋 {{ user.name }}</span>
        <button (click)="logout()" class="px-4 py-1 bg-red-500 text-white text-sm rounded hover:bg-red-600">
          Salir
        </button>
      </ng-container>
  
      <!-- No autenticado -->
      <ng-template #notLoggedIn>
        <a routerLink="/login" class="px-4 py-1 rounded-lg bg-cyan-600 text-white text-sm font-medium hover:bg-cyan-700 transition cursor-pointer">Ingresar</a>
        <a routerLink="/register"class="px-4 py-1 rounded-lg bg-cyan-600 text-white text-sm font-medium hover:bg-cyan-700 transition cursor-pointer">Registro</a>
      </ng-template>
    </div>
  </section>

</header>
